/* #region Page */
:root {
  --primary: #ff6433;
  --black: #1e1b1b;
  --light-grey: #f2f2f2;
  --steelgrey: #e2e6e9;
  --white: #fff;
}
body {
  font-family: 'Manrope', sans-serif;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}
h2 {
  font-weight: 800;
  font-size: 58px;
  line-height: 131%;
  letter-spacing: -0.03em;
  color: var(--black);
}
.status {
  font-weight: 800;
  font-size: 18px;
  color: var(--black);
}
@media (max-width: 991px) {
  h2 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 36px;
  }
}
/* #endregion */
/* #region Buttons */
.btn {
  display: inline-block;
  border-radius: 12px;
  padding: 16px 40px;
  background-color: var(--primary);
  transition: opacity 0.2s linear;
}
.btn span {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: var(--white);
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
.btn--play {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: opacity 0.2s linear;
}
.btn--play span {
  font-weight: 700;
  color: var(--black);
  cursor: pointer;
}
.btn--play:hover {
  opacity: 0.8;
}
.btn--dark {
  background-color: var(--black);
}
.feedback__btn {
  max-width: 206px;
  max-height: 64px;
}
@media (max-width: 1200px) {
  .feedback__btn {
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .btn {
    padding: 14px 36px;
  }
}
@media (max-width: 767px) {
  .btn {
    padding: 10px 30px;
  }
}
@media (max-width: 420px) {
  .btn {
    padding: 8px 22px;
  }
  .btn span {
    font-size: 14px;
  }
}
/* #endregion */
/* #region Burger */
.burger {
  display: none;
  position: relative;
  z-index: 5;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  width: 40px;
  height: 20px;
}
.burger div {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #333;
}
.burger::before,
.burger::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 80%;
  background-color: #333;
  transition: all 0.2s ease;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.nav--open .burger div {
  transform: scale(0);
}
.nav--open .burger::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.nav--open .burger::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
@media (max-width: 850px) {
  .burger {
    display: flex;
  }
}
/* #endregion */
/* #region Header */
.header {
  padding-top: 32px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner .header__line {
  border: 1px solid var(--grey);
  width: 42px;
  height: 0px;
  transform: rotate(-90deg);
  opacity: 0.36;
  margin: 0 32px;
}
.logo {
  position: relative;
  z-index: 3;
}
.nav {
  margin-left: auto;
}
.nav__list {
  display: flex;
  gap: 40px;
}
.nav__link {
  font-weight: 600;
  line-height: 175%;
  color: var(--black);
  transition: opacity 0.2s linear;
}
.nav__link:hover {
  opacity: 0.7;
}
.header__help {
  position: relative;
  z-index: 2;
  display: inline-block;
  display: flex;
  align-items: center;
  gap: 15px;
}
.help-header__text {
  font-weight: 500;
  line-height: 150%;
  color: var(--black);
  opacity: 0.7;
}
.help-header__phone {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: var(--black);
}
@media (max-width: 991px) {
  .nav__list {
    gap: 25px;
  }
  .header__inner span {
    margin: 0 25px;
  }
}
@media (max-width: 850px) {
  .nav {
    margin-right: auto;
  }
  .nav__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: -100%;
    z-index: 2;
    overflow: auto;
    transition: left 0.2s ease;
  }
  .nav__body::before {
    content: '';
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #000;
    z-index: 2;
    transition: left 0.2s ease;
  }
  .nav__link {
    color: var(--light-grey);
  }
  .header__inner .header__line {
    display: none;
  }
  .nav--open .logo path {
    fill: var(--white);
  }
  .nav--open {
    overflow: hidden;
  }
  .nav--open .nav__body,
  .nav--open .nav__body::before {
    left: 0;
  }
  .nav--open .help-header__text,
  .nav--open .help-header__phone {
    color: #fff;
  }
  .nav--open .logo {
    fill: #fff;
  }
  .nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding-top: 120px;
  }
}
@media (max-width: 420px) {
  .logo {
    width: 45px;
    overflow: hidden;
  }
}
/* #endregion */
/* #region Intro */
.intro {
  padding-top: 80px;
}
.intro__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.intro__title {
  max-width: 630px;
  font-weight: 800;
  font-size: 64px;
  line-height: 131%;
  letter-spacing: -0.03em;
  color: var(--black);
  margin-bottom: 32px;
}
.header__btn-box {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 48px;
}
.intro__time {
  display: flex;
  align-items: center;
  gap: 12px;
}
.time-intro__status {
  font-weight: 500;
  line-height: 150%;
  color: #939191;
}
.time-intro__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: var(--black);
}
.intro__images {
  position: relative;
}
.intro__images-top {
  display: flex;
  align-items: center;
  gap: 14px;
  position: absolute;
  top: 80px;
  left: -30px;
  z-index: 1;
  border: 12px solid rgba(225, 225, 225, 0.43);
  border-radius: 59px;
  background: linear-gradient(174deg, #fff 0%, #fff 100%);
}
.intro__images-top span {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: var(--black);
  padding-right: 30px;
}
.intro__images-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 80px;
  right: 10px;
  z-index: 1;
  border: 12px solid rgba(225, 225, 225, 0.43);
  border-radius: 59px;
  box-shadow: 0 28px 118px 0 rgba(109, 108, 115, 0.12);
  background: var(--white);
}
.images-bottom__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
}
.images-bottom__content em {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #000;
}
.images-bottom__content span {
  font-weight: 500;
  line-height: 150%;
  color: #000;
  opacity: 0.7;
}
.images-bottom__box {
  display: flex;
  gap: 3px;
}
@media (max-width: 1200px) {
  .intro__inner {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .intro__title {
    font-size: 56px;
    margin-bottom: 24px;
  }
  .header__btn-box {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .intro__title {
    font-size: 48px;
    margin-bottom: 16px;
  }
  .header__btn-box {
    margin-bottom: 16px;
  }
}
@media (max-width: 420px) {
  .intro__title {
    font-size: 36px;
  }
  .time-intro__text {
    font-size: 13px;
  }
  .intro__images-bottom {
    bottom: 20px;
    right: 0;
  }
}
/* #endregion */
/* #region Offer */
.offer {
  padding-top: 250px;
}
.offer__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer__minititle {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--black);
  margin-bottom: 8px;
}
.offer__title {
  max-width: 860px;
  text-align: center;
  margin-bottom: 64px;
}
.offer__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
.offer__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 230px;
  color: var(--black);
  transition: all 0.2s ease;
}
.offer__item:hover {
  background-color: var(--primary);
  color: var(--white);
}
.offer__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  text-align: center;
  margin-top: 16px;
}
.offer__link {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  transition: opacity 0.2s linear;
}
.offer__link:hover {
  opacity: 0.7;
}
.link-offer__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: var(--black);
}
@media (max-width: 1200px) {
  .offer {
    padding-top: 200px;
  }
}
@media (max-width: 991px) {
  .offer {
    padding-top: 150px;
  }
  .offer__title {
    margin-bottom: 48px;
  }
}
@media (max-width: 767px) {
  .offer {
    padding-top: 90px;
  }
  .offer__title {
    margin-bottom: 32px;
  }
  .offer__item {
    width: 250px;
    height: 180px;
  }
  .offer__link {
    justify-content: center;
    margin-top: 24px;
  }
}
/* #endregion */
/* #region Process */
.process {
  padding-top: 135px;
}
.process__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.process__title {
  max-width: 530px;
  margin-bottom: 16px;
}
.process__text {
  max-width: 450px;
  font-weight: 600;
  line-height: 175%;
  color: var(--black);
  opacity: 0.6;
  margin-bottom: 32px;
}
.process__steps {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.process__step {
  display: flex;
  gap: 24px;
}
.step-process__image {
  display: flex;
  flex-direction: column;
}
.step-process__image span {
  margin-top: 45px;
  border: 2px dashed var(--primary);
  width: 71px;
  height: 0px;
  transform: rotate(-90deg);
}
.step-process__image:last-child {
  display: block;
}
.step-process__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: var(--black);
  margin-bottom: 8px;
}
.step-process__text {
  max-width: 340px;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: var(--black);
  opacity: 0.6;
}
@media (max-width: 1050px) {
  .process__inner {
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .process {
    padding-top: 90px;
  }
}
@media (max-width: 767px) {
  .process {
    padding-top: 70px;
  }
}
@media (max-width: 450px) {
  .step-process__image span {
    display: none;
  }
}
/* #endregion */
/* #region Contact */
.contact {
  margin-top: 120px;
  max-width: 1920px;
  max-height: 502px;
  background-image: url(../images/contact/contact-1.jpg);
  background-repeat: no-repeat;
  position: relative;
}
.contact::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-image: url(../images/contact/contact-2.jpg);
  background-repeat: no-repeat;
  width: 944px;
  height: 502px;
}
.contact__inner {
  padding: 128px 80px 128px;
  max-width: 729px;
  background-color: var(--primary);
}
.contact__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: var(--white);
  margin-bottom: 48px;
}
@media (max-width: 1200px) {
  .contact {
    background-position-x: 100%;
  }
  .contact::after {
    display: none;
  }
}
@media (max-width: 991px) {
  .contact {
    margin-top: 90px;
    background-image: none;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .contact__inner {
    background: none;
  }
  .contact__title {
    font-size: 38px;
    margin-bottom: 36px;
  }
}
@media (max-width: 767px) {
  .contact {
    margin-top: 70px;
  }
  .contact__title {
    font-size: 32px;
    margin-bottom: 24px;
  }
}
@media (max-width: 420px) {
  .contact__inner {
    padding: 50px 0;
  }
}
/* #endregion */
/* #region Stat */
.stat {
  padding: 50px 0;
}
.stat__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.stat__content {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.stat__number {
  font-weight: 800;
  font-size: 58px;
  line-height: 131%;
  letter-spacing: -0.03em;
  text-align: center;
  color: #661ce7;
}
.stat__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: var(--black);
  opacity: 0.7;
}
@media (max-width: 900px) {
  .stat__inner {
    flex-direction: column;
    justify-content: center;
  }
  .stat__content {
    align-items: center;
  }
}
@media (max-width: 767px) {
  .stat__number {
    font-size: 44px;
  }
  .stat__text {
    font-size: 16px;
  }
}
/* #endregion */
/* #region Brands */
.brands {
  padding: 128px 0;
  background-color: #e2e6e9;
}
.brands__title {
  text-align: center;
  margin-bottom: 90px;
}
.brands__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 95px;
}
@media (max-width: 991px) {
  .brands {
    padding: 90px 0;
  }
}
@media (max-width: 767px) {
  .brands {
    padding: 60px 0;
  }
  .brands__content {
    flex-direction: column;
  }
  .brands__title {
    margin-bottom: 48px;
  }
}
/* #endregion */
/* #region Blog */
.blog {
  padding-top: 208px;
}
.blog__title {
  margin-bottom: 64px;
}
.blog__cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 64px;
}
.blog__card {
  display: flex;
  flex-direction: column;
  max-width: 410px;
}
.card-blog__image {
  margin-bottom: 24px;
}
.card-blog__date {
  font-weight: 600;
  line-height: 175%;
  color: var(--grey);
  margin-bottom: 16px;
}
.card-blog__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: var(--black);
  margin-bottom: 16px;
}
.card-blog__text {
  font-weight: 600;
  line-height: 175%;
  color: #232536;
}
@media (max-width: 1310px) {
  .blog {
    padding-top: 150px;
  }
  .blog__title {
    text-align: center;
  }
  .blog__cards {
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .blog {
    padding-top: 120px;
  }
  .blog__title {
    margin-bottom: 48px;
  }
}
@media (max-width: 767px) {
  .blog {
    padding-top: 90px;
  }
  .blog__title {
    margin-bottom: 32px;
  }
}
/* #endregion */
/* #region Testimonials */
.testimonials {
  padding: 120px 0;
  background-color: var(--light-grey);
}
.testimonials__title {
  max-width: 920px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 76px;
}
.testimonials__cards {
  margin-bottom: 48px;
  overflow: hidden;
}
.testimonials__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}
.testimonials__card {
  padding: 72px;
  box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
  background-color: var(--white);
}
.card-testimonials__author {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
.card-testimonials__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-testimonials__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: var(--black);
}
.card-testimonials__city {
  font-weight: 600;
  line-height: 175%;
  color: var(--grey);
}
.card-testimonials__text {
  max-width: 480px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: var(--black);
}
.testimonials__btns {
  display: flex;
  justify-content: space-between;
}
.testimonials__arrows {
  display: flex;
  gap: 24px;
}
.testimonials__arrow path,
.testimonials__arrow circle {
  transition: all 0.2s ease;
}
.testimonials__arrow:hover path {
  fill: white;
}
.testimonials__arrow:hover circle {
  fill: #1e1b1b;
}
.testimonials__arrows svg:last-child {
  transform: rotate(-180deg);
}
.testimonials__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.swiper-pagination-bullet {
  cursor: pointer;
  background-color: #939191;
  width: 32px;
  height: 5px;
}
.swiper-pagination-bullet-active {
  background-color: var(--primary);
}
@media (max-width: 991px) {
  .testimonials {
    padding: 120px 0;
  }
  .testimonials__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 950px) {
  .testimonials__card {
    padding: 40px;
  }
}
@media (max-width: 767px) {
  .testimonials {
    padding: 80px 0;
  }
  .testimonials__card {
    padding: 20px;
  }
  .testimonials__title {
    margin-bottom: 32px;
  }
  .card-testimonials__author {
    text-align: center;
    flex-direction: column;
  }
  .card-testimonials__text {
    text-align: center;
    margin-inline: auto;
    font-size: 20px;
  }
}
@media (max-width: 420px) {
  .card-testimonials__name {
    font-size: 18px;
  }
  .card-testimonials__text {
    font-size: 18px;
  }
}
/* #endregion */
/* #region FAQ */
.faq {
  background-color: var(--steelgrey);
  padding: 128px 0;
}
.faq__title {
  text-align: center;
  margin-bottom: 86px;
}
.faq__accordion {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.accordion-faq__item {
  position: relative;
  background: var(--white);
  padding: 38px 40px;
}
.accordion-faq__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: var(--black);
  margin-bottom: 16px;
}
.accordion-faq__text {
  max-height: 0;
  overflow: hidden;
  max-width: 710px;
  font-weight: 500;
  font-size: 18px;
  line-height: 175%;
  color: var(--grey);
  transition: all 0.3s ease-out;
}
.accordion-faq__btn {
  position: absolute;
  top: 38px;
  right: 38px;
  width: 51px;
  height: 48px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordion-faq__btn span {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
}
.accordion-faq__btn span::before,
.accordion-faq__btn span::after {
  content: '';
  position: absolute;
  background-color: var(--white);
}
.accordion-faq__btn span::before {
  width: 18px;
  height: 3px;
  top: 13px;
  left: 6px;
}
.accordion-faq__btn span::after {
  width: 3px;
  height: 18px;
  top: 6px;
  left: 13px;
  transition: all 0.3s linear;
}
.accordion-faq__item--active .accordion-faq__text {
  max-height: 100px;
}
.accordion-faq__item--active .accordion-faq__btn span::after {
  transform: rotate(90deg);
}
@media (max-width: 991px) {
  .faq {
    padding: 80px 0;
  }
  .faq__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .faq {
    padding: 60px 0;
  }
  .faq__title {
    margin-bottom: 30px;
  }
  .accordion-faq__item {
    padding: 20px 22px;
  }
  .accordion-faq__text {
    font-size: 16px;
  }
  .accordion-faq__btn {
    top: 20px;
    right: 20px;
  }
}
@media (max-width: 570px) {
  .accordion-faq__item {
    padding: 10px 12px;
  }
  .accordion-faq__title {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .accordion-faq__text {
    font-size: 14px;
  }
  .accordion-faq__btn {
    width: 35px;
    height: 35px;
    top: 0;
    right: 0;
  }
}
@media (max-width: 420px) {
  .accordion-faq__title {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .accordion-faq__text {
    font-size: 12px;
  }
  .accordion-faq__btn {
    width: 30px;
    height: 30px;
  }
}
/* #endregion */
/* #region Feedback */
.feedback {
  padding-block: 120px;
}
.feedback__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.feedback__title {
  max-width: 510px;
  font-weight: 800;
  font-size: 64px;
  line-height: 131%;
  letter-spacing: -0.03em;
  color: var(--black);
  margin-bottom: 48px;
}
.feedback__form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0 20px;
}
.feedback__input {
  background-color: var(--light-grey);
  border-radius: 10px;
  width: 624px;
  height: 72px;
  padding-left: 10px;
  font-weight: 600;
  line-height: 175%;
  font-size: 16px;
  color: var(--black);
}
.feedback__input::placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  color: var(--black);
}
.feedback__textarea {
  resize: none;
  background-color: var(--light-grey);
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  color: var(--black);
  margin-bottom: 48px;
  padding-left: 10px;
}
.feedback__textarea::placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  color: var(--black);
}
.content-feedback__box {
  margin-bottom: 32px;
}
.content-feedback__box:last-child {
  margin-bottom: 0;
}
.content-feedback__minititle {
  font-weight: 600;
  line-height: 175%;
  color: var(--black);
  opacity: 0.7;
  margin-bottom: 2px;
}
.content-feedback__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: var(--black);
}
@media (max-width: 1200px) {
  .feedback__title {
    font-size: 48px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 36px;
  }
  .feedback__inner {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 991px) {
  .feedback {
    padding-block: 90px;
  }
  .feedback__form {
    max-width: 450px;
  }
  .feedback__input {
    width: 450px;
  }
}
@media (max-width: 767px) {
  .feedback {
    padding-block: 60px;
  }
  .feedback__title {
    font-size: 36px;
    margin-bottom: 24px;
  }
  .feedback__textarea {
    margin-bottom: 36px;
  }
}
@media (max-width: 540px) {
  .content-feedback__minititle {
    font-size: 14px;
  }
  .feedback__form {
    max-width: 300px;
  }
  .feedback__input {
    width: 320px;
  }
  .content-feedback__text {
    font-size: 16px;
  }
  .feedback__textarea {
    margin-bottom: 20px;
  }
}

@media (max-width: 360px) {
  .feedback__input {
    width: 270px;
  }
}
/* #endregion */
